<!-- <p>header works!</p> -->
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Course App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="registerr">Register</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="login">Login</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="logout">LogOut</button>

